
.iam-header {
  display: flex;
  flex-direction: row;

  :not(:first-child) {
    margin-left: .7rem;
  }
}

.iam-timeline {
  div {
    border: 1px solid steelblue;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}