@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $BaseFont;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  cursor: pointer;
  font-family: $BaseFont;
}

hr {
  border:none;
  border-top: 1px dashed #555555;
}

.footer {
  font-family: $CodeFont;

  a {
    text-decoration: underline;
  }
}

@import "./forms";