
.register-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 426px) {
    flex-direction: column;
    input {
      width: 100%;
    }
  }
}

.register-description {}

.guide {
  display: flex;
  flex-direction: column;

  .guide-submit {

    :nth-child(2) {
      margin-left: .3rem;
    }
  }
}

.new-channel {
  @media only screen and (max-width: 426px) {
    flex-direction: column;
    input {
      width: 100%;
    }
  }
}
